.DS_Store
*.iml
*.ipr
*.iws
*.orig
*.rej
**/.keep
*.sdf
*.suo
*.vcxproj.user
.idea
.svn
.classpath
.project
.settings
target
publish
*.swp
*.pyc
asf-site-src/source/documentation/0*
asf-site-src/source/documentation/in-progress/CHANGELOG.md
asf-site-src/source/documentation/in-progress/RELEASENOTES.md
asf-site-src/source/documentation/in-progress/precommit/apidocs
